 .rectangle-card {
        /* width: calc(25% - 2px);  */
    width: 50px;
        height: 90px;
        background-color:#f9ce45;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        padding: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: all 0.3s ease;
        
    }
    .card-title {
        font-size: 12px;
        font-weight: bold;
        color:black;
        text-transform: uppercase;
        margin-bottom: 3px;
    }

    .card-number {
        font-size: 20px;
        font-weight: bold;
        color:black;
    }

    .card-icon {
        font-size: 40px;
        color: black;
        margin-right: 10px;
    }
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        flex-grow: 1;
        
    }
    .rectangle-card:hover {
        transform: translateY(-5px);
        box-shadow: 4px 6px 12px rgba(0, 0, 0, 0.3);
    }
    .sidebar.collapsed ~ .rectangle-card {
        width: 80%;
        max-width: 120px;
    }
    @media (max-width: 768px) {
        .rectangle-card {
            width: calc(100% - 10px);
            height: auto;
            padding: 10px;
        }

        .card-title {
            font-size: 10px;
        }

        .card-number {
            font-size: 30px;
        }

        .card-icon {
            font-size: 30px;
        }
    }

    @media (max-width: 100px) {
        .rectangle-card {
            width: 100%;
            padding: 8px;
        }

        .card-title,
        .card-number,
        .card-icon {
            font-size: 50%;
        }
    }