.footer {
    padding-bottom: 10px;
    color: #fff;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align all footer content */
}

.footer .powered-by {
    font-weight: lighter;
}

.footer .company-name {
    font-weight: bold;
}

.footer .copyright {
    margin-top: 5px; /* Space between company name and copyright */
}